/**
 * Site style file.
 *
 * @author      Erki Suurjaak
 * @created     07.04.2015
 * @modified    27.01.2021
 */
* {
  font-family: Tahoma;
}
#header, #footer, #header *, #footer * {
  font-size: 0.85em;
}
#header {
  width: 700px;
  height: 40px;
  background: #1abc9c;
  border-radius: 4px 4px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  position: relative;
  width: 678px;
  min-height: 200px;
  border: 1px solid #1abc9c;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#dbinfo {
  display: none;
}
#footer {
  position: relative;
  width: 700px;
  color: white;
  background: #1abc9c;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
}
#footer div {
  padding: 7px;
}
#header a {
  color: white;
  text-decoration: none;
}
#footer a {
  position: absolute;
  color: white;
  font-size: 1em;
}
#footer a:first-of-type {
  left: 10px;
}
#footer a:last-of-type {
  right: 10px;
}
#content a {
  text-decoration: none;
}
#header a:hover, #content a:hover {
  text-decoration: underline;
}
#headerlinks {
  float: left;
  position: relative;
}
#indexlink {
  font-size: 2em;
  padding: 10px;
  position: relative;
  top: 6px;
}
#inputlinks {
  float: right;
  font-size: 1em;
  padding: 3px;
  position: relative;
  top: 5px;
}
#inputlinks a {
  display: block;
}
#replaysection {
  float: right;
  margin-top: 20px;
  position: relative;
}
#replaysection #limit {
  font-size: 0.8em;
  opacity: 0.5;
  color: gray;
}
#daysection {
  float: right;
  font-size: 1em;
  padding: 10px;
  min-width: 260px;
  display: table;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#daysection a {
  position: absolute;
  top: 2px;
  padding: 10px;
}
#daysection a:first-child {
  left: 0px;
}
#daysection a:last-child {
  right: 0px;
}
#daysection select {
  text-align: center;
}
#tablelinks {
  position: absolute;
  top: 4px;
  left: 4px;
  font-weight: bold;
  font-size: 0.8em;
}
#tablelinks a {
  color: #1abc9c;
  margin: 2px;
  text-decoration: none;
}
#tablelinks span {
  margin: 2px;
}
#tablelinks span.inactive {
  color: gray;
  font-weight: normal;
}
.heatmap.mouse {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1abc9c;
}
#status {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 10px;
  position: relative;
}
#status #replay_stop {
  color: gray;
  float: right;
  display: none;
}
#status.playing #replay_stop {
  display: inline;
}
#progressbar {
  width: 0px;
  height: 5px;
  background: lightgray;
  display: block;
  position: absolute;
  bottom: -5px;
}
#button_replay {
  width: 70px;
}
#tables {
  clear: both;
  overflow: auto;
}
#stats.keyboard {
  clear: both;
  float: right;
  margin-right: 10px;
}
h3 {
  display: inline-block;
}
tbody {
  display: table;
  border: 1px dashed #1abc9c;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}
td {
  vertical-align: top;
  padding-right: 10px;
  font-size: 0.9em;
}
th {
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
  min-width: 80px;
}
input[type="range"] {
  vertical-align: middle;
  width: 120px;
}
span.range {
  position: relative;
}
label.check_label {
  font-size: 0.7em;
  float: right;
  margin-left: 5px;
}
label.check_label input {
  position: relative;
  top: 3px;
}
label.range_label {
  font-size: 0.7em;
  color: lightgray;
  text-align: center;
  position: absolute;
  top: -18px;
  width: 100%;
}
a.toggle {
  position: absolute;
  right: 0px;
}
a.toggle:hover {
  text-decoration: none !important;
}
table.input_index td.periods {
  position: relative;
  padding-right: 20px;
}
table.input_index td.periods .count {
  display: none;
}
table.input_index td.periods.collapsed .count {
  display: block;
  white-space: nowrap;
}
table.input_index td.periods.collapsed .periods {
  display: none;
}
table.input_index td.periods .periods a.day {
  margin-left: 10px;
}
table.input_index td.periods .periods span {
  float: right;
}
#overlay {
  display: none;
  align-items: center;
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}
#overlay.visible {
  display: flex;
}
#overlay #overshadow {
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
#overlay #overcontent {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  padding: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 10001;
}
#overlay #overcontent > * {
  align-self: center;
}
#overlay #overcontent td:first-child {
  font-weight: bold;
}
